body {
  background-color: #dbddc0;
}
.pick-a-pic {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 700px;
  height: 300px;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  background-color: pink;
}
.radio-image {
  border: 10px solid transparent;
  align-content: center;
}
input:checked + .radio-image {
  border: 10px solid lightblue;
}
input {
  display: none;
}
