body {
  background-color: #dbddc0;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Codystar", cursive;
}

.pick-a-pic {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  vertical-align: middle;
  width: 850px;
  height: 350px;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  background-color: pink;
  border-radius: 2em;
}
.radio-image {
  border: 10px solid transparent;
  align-content: center;
  border-radius: 2em;
}
input:checked + .radio-image {
  border: 10px solid lightblue;
}
input:checked + .radio-image {
  border: 10px solid blue;
}

input {
  display: none;
}

label img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#submit-container {
  display: flex;
  justify-content: center;
}

canvas {
  width: 75%;
  height: 500px;
}
